body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 100%;
}

.header-hero{
    background-color: #1f2937;
    padding: 50px;
    margin: 10px;
    
    
}

.header{
    justify-content: space-around;
    font-size: 18px;
    color: #e5e7eb;
    
    display: flex;
    margin-bottom: 64px;
       
    

}

.headerlogo{
    width: auto;
    height: 100px;
}

.hero{
    display: flex;
    justify-content: space-around;
    margin-bottom: 64px;
    align-items: center;
}

.hero-main{
    font-size: 48px;
    color: #f9faf8;
}

.hero-secondary{
    color:#e5e7eb;
    font-size: 18px;
}

.collagesize{
    height: 300px
}


.container{
    background-color: grey;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
}

a{
    text-decoration: none;
    color:#e5e7eb;
}

ul{
    display: flex;
    list-style: none;
    gap: 16px;
}

#signup_button,
#signup_button_below{
    background-color: blue;
    color: #e5e7eb;
    padding: 0 16;
    border-radius: 5px;
    border: 2px;
    text-align: center;
    width: 100px;
    height: 30px;
    font-weight:bolder;
    
}

#signup_button_below{
    border: 2px solid white;
}

.information-contents{
    display: flex;
    justify-content: center;
    gap: 54px;
}

.text{
    color: #1f2937;
    max-width: 200px;
}

.information-section{
    background-color: #e5e7eb;
    height: auto;
}

.information-header{
    font-size: 36px;
    font-weight:bolder;
    color: #1f2937;
    justify-content: center;
    display: flex;
    margin-bottom: 32px;
    align-items: center;
    padding: 20px;
}

#img-container{
    width: 200px;
    border-radius: 12px;
    border: 2px solid yellowgreen
}

.quote-section{
    background-color: rgb(185, 183, 183);
    color:#1f2937;
    font-size: 32px;
    font-style: italic;
    height: 100px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtext{
    align-self: flex-end;
}

.calltoaction{
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    height: 120px;
    font-size: 28px;
}

.footer{
    color:#e5e7eb;
    height: 40px;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #1f2937;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;

}

.information-contents{
    margin-bottom: 60px;
    margin-top: 32px;
}